[submodule "thirdparty/ring-buffer"]
	path = thirdparty/ring-buffer
	url = git@github.com:jpcima/ring-buffer.git
[submodule "thirdparty/libOPNMIDI"]
	path = thirdparty/libOPNMIDI
	url = https://github.com/Wohlstand/libOPNMIDI.git
[submodule "thirdparty/libADLMIDI"]
	path = thirdparty/libADLMIDI
	url = https://github.com/jpcima/libADLMIDI.git
