[submodule "thirdparty/libADLMIDI"]
	path = thirdparty/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI
[submodule "thirdparty/libOPNMIDI"]
	path = thirdparty/libOPNMIDI
	url = https://github.com/Wohlstand/libOPNMIDI.git
[submodule "thirdparty/rtmidi"]
	path = thirdparty/rtmidi
	url = https://github.com/thestk/rtmidi.git
[submodule "thirdparty/rtaudio"]
	path = thirdparty/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "thirdparty/PDCurses"]
	path = thirdparty/PDCurses
	url = https://github.com/wmcbrine/PDCurses.git
[submodule "thirdparty/flatbuffers"]
	path = thirdparty/flatbuffers
	url = https://github.com/google/flatbuffers.git
